@import '../../styles/mixins';
@import '../../styles/variables';

.cart {
  margin: auto 30px;
  display: grid;
  place-items: center;
  border-radius: 50px;
  padding: 0.5rem;
  &_icon {
  }
  &:hover {
    background-color: rgba($grey-mid, 0.1);
  }
  &:active {
    background-color: rgba($grey-mid, 0.3);
  }
}
