@import '../../styles/variables';

.btn {
  align-self: center;
  justify-self: center;
  border: none;
  background: none;
  border-radius: 50%;
  &:hover {
    background: rgba($grey-pale, 0.5);
  }
  &:active {
    background: rgba($grey-mid, 0.5);
  }
}
