@import '../styles/mixins';
@import '../styles/variables';

.animal {
  &_card {
    padding: 0.2rem;
    &:hover {
      background: rgba($grey-pale, 0.5);
      border-radius: $border-radius;
    }
    &_img {
      height: 32rem;
      width: 32rem;
      border-radius: $border-radius;
      background-color: $grey-pale;
    }
    &_title {
      @include subtext;
      font-weight: 500;
    }
  }
}
