@import "../styles/mixins";
@import "../styles/variables";

.animal {
  display: grid;
  grid-auto-flow: row;
  align-items: center;

  &:hover {
    border-radius: $border-radius-base;
  }
  &__img {
    border-radius: $border-radius-base;
  }
  &_title {
    font-size: $sm1-font;
    color: $black;
    font-weight: 800;
    text-align: center;
    padding-top: 0.5rem;
  }
}
