@import "../styles/mixins";
@import "../styles/variables";

.cta {
  grid-area: cta;
  display: grid;
  align-content: end;
  justify-content: start;
  width: 100vw;
  background-size: 100%;
  min-height: 60rem;

  &_container {
    padding: 5rem;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1rem;
  }
  &_header {
    @include title;
  }
  &_subtitle {
    @include subtitle;
  }
  &_text {
    @include subtext;
    max-width: 45rem;
  }
  &_click {
    padding-top: 1rem;
    &_btn {
      @include btn-black;
    }
  }
}
