@import '../styles/mixins';
@import '../styles/variables';

.container {
  display: grid;
  border-radius: $border-radius;
  border: 0.5px solid $grey-pale;
  @include shadow-idle;
  &:hover {
    border: 0.5px solid $green-pale;
    @include shadow-active;
  }
}
.img {
  height: 21rem;
  min-width: 20rem;
  position: relative;
  border-bottom: 0.5px solid $grey-pale;
  &_content {
    border-radius: $border-radius $border-radius 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.content {
  display: grid;
  margin: 0.5rem 0;
  justify-content: center;
  justify-items: center;
  &_title {
    font-size: $sm1-font;
    color: $black;
  }
  &_price {
    font-size: $sm2-font;
    color: $black;
  }
}
