@import "../styles/mixins";
@import "../styles/variables";

.container {
  display: grid;
  grid-template-columns: 20rem;
  border-radius: $border-radius;
  grid-gap: 1.5rem;
  &:hover {
    box-shadow: 1px rgba(0, 0, 0, 0.5);
    background: $grey-pale;
    border: 0.5px solid $grey-pale;
  }
}
.content {
  &_container {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 0.5rem;
  }
  &_img {
    border-radius: $border-radius;
  }
  &_title {
    font-size: $sm1-font;
    color: $grey-dark;
  }
  &_price {
    font-size: $sm2-font;
    color: $grey-mid;
  }
}
