.card_container {
  margin-top: 2.5rem;
  grid-column: 2 / -2;
  display: grid;
  justify-content: center;
  grid-gap: 2.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: row;
  width: 100rem;
}
