@import '../styles/mixins';
@import '../styles/variables';

.logo {
  text-align: center;
  color: $white;
  &_text {
    @include logo-text;
  }
  &_tagline {
    @include subtext;
    color: $grey-pale;
  }
}
