@import '../styles/mixins';
@import '../styles/variables';

.container {
  background: $white;
  width: 40rem;
  padding: 4rem 4rem 1rem 4rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  border-radius: $border-radius;
  background: rgba($grey-mid, 0.1);
  border: 0.5px solid $grey-pale;
  @include shadow-idle;
}
.text {
  padding: 2rem 0;
  &_title {
    @include title;
    margin-bottom: 1rem;
  }
  &_subtitle {
    @include subtext;
  }
}
.form {
  display: grid;
  margin-top: 2rem;
  border: none;
  box-decoration-break: none;

  &_group {
    display: grid;
    grid-gap: 1rem;
  }
  &_input {
    @include base-input;
    width: 100%;
  }
}
.submit {
  @include btn-black;
  margin: 3.5rem 0;
  width: 100%;
}
.links {
  display: grid;
  grid-auto-flow: column;
  justify-items: space-between;
  &_reset {
    @include basic-link;
    font-size: $sm2-font;
  }
  &_register {
    @include basic-link;
    font-size: $sm2-font;
  }
}
