@import '../styles/mixins';
@import '../styles/variables';

.container {
  display: grid;
  align-items: center;
  align-content: center;
  height: 8rem;
  grid-template-columns: 25rem repeat(4, 1fr) 25rem;
}

.logo {
  align-items: center;
  align-self: center;
  color: $black;
  &_text {
    @include logo-text;
    display: flex;
    justify-content: center;
    min-width: 28rem;
  }
}

.link {
  @include center-items-container;
  @include basic-link;
}

.account {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 6;
  place-items: center;
  &_login {
    @include btn-black;
    display: none;
  }
  &_user {
    @include user-btn;
    // display: none;
    &_avatar {
      @include user-avatar;
      &_icon {
      }
    }
    &_name {
      font-size: $m2-font;
      font-weight: 400;
      color: $white;
      margin-right: 1.5rem;
    }
  }
}
.cart {
  margin: auto 30px;
  display: grid;
  place-items: center;
  &_icon {
    padding: 0.5rem;
    border-radius: 50px;
    &:hover {
      background-color: rgba($grey-mid, 0.1);
    }
    &:active {
      background-color: rgba($grey-mid, 0.3);
    }
  }
}
