@import "../styles/mixins";
@import "../styles/variables";

.container {
  @include full-container;
  @include center-items-container;
  height: 75px;
  grid-template-columns: auto 1fr auto;
}

.logo {
  @include logo-container;
  align-items: center;
  color: $black;
  &_text {
    @include logo-text;
    text-align: center;
    min-width: 28.8rem;
  }
}

.nav {
  @include five-grid-equal;
  @include center-items-container;
  height: 100%;
  grid-gap: 10px;
  &_link {
    @include center-items-container;
    @include basic-link;
  }
}

.account {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  &__login {
    @include btn-black;
  }
  &__user {
    @include user-btn;
    display: none;
    // display: none;
    &_photo {
      @include user-avatar;
    }
    &_name {
      font-size: $m2-font;
      font-weight: 400;
      color: $white;
      margin-right: 1.5rem;
    }
  }
}
.cart {
  margin: auto 30px;
  display: grid;
  place-items: center;
  & > *:hover {
    fill: $grey-dark;
  }
}
