@import "../styles/mixins";
@import "../styles/variables";

.container {
}
.title {
  margin-bottom: 0.5rem;
  &_text {
    @include title;
  }
}
.body {
  border: 1px solid $grey-pale;
  border-radius: $border-radius;
  min-height: 25rem;
  @include shadow-idle;
  &_head {
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(2, 2fr) 1fr;
    padding: 1rem;
    border-bottom: 1px solid $grey-pale;
    min-width: 15rem;
    &_text {
      display: flex;
      align-items: baseline;
      justify-content: center;
      @include base-text;
    }
  }
}
