@import '../styles/mixins';
@import '../styles/variables';

.item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  &_img {
    border-radius: $border-radius;
  }
}
.info {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  width: 100%;
  align-items: center;
  margin-left: 2.5rem;
  &_cut {
    display: grid;
    align-items: center;
    align-content: center;
  }
  &_name {
    @include subtext;
    font-weight: 400;
  }
  &_price {
    @include long-form-text;
    justify-self: flex-start;
  }
  &_total {
    @include subtext;
  }
}
