@import "../styles/mixins";
@import "../styles/variables";

.container {
  padding: 10rem 0;
  display: grid;
  grid-area: shop;
  min-height: 60vh;
}
.animals {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-column: 2 / -2;
  grid-gap: 3rem;
  width: 100vw;
  padding: 0 5rem;
  &_heading {
    &_title {
      margin-bottom: 0.5rem;
      @include title;
    }
    &_subtitle {
      @include subtext;
    }
  }
  &_content {
    display: flex;
    justify-content: space-between;
  }
}
