@import "../mixins";
@import "../variables";

.container {
  display: grid;
  grid-row: 2;
  grid-column: 2 / -2;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
}
.meatmap {
}
.content {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 2rem;

  &_goodfor {
    &_title {
      font-size: $midsmall-font-size;
      color: $color-grey-dark;
    }
    &_items {
      display: grid;
      grid-template-columns: repeat(3, auto) 1fr;
      margin-left: 2rem;
      grid-gap: 3rem;
    }
    &_item {
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      justify-items: start;
      grid-gap: 1rem;
      &_img {
        width: 2.5rem;
        height: 2.5rem;
        background: red;
        justify-self: start;
        border-radius: 50px;
      }
      &_title {
        font-size: $base-font-size;
        justify-self: start;
      }
    }
  }

  &_cooknotes {
    &_title {
      font-size: $midsmall-font-size;
      color: $color-grey-dark;
    }
    &_text {
      margin-left: 1rem;
      font-size: $tiny-font-size;
      color: $color-grey-dark;
    }
  }
  &_whyitsgood {
    &_title {
      font-size: $midsmall-font-size;
      color: $color-grey-dark;
    }
    &_text {
      margin-left: 1rem;
      font-size: $tiny-font-size;
      color: $color-grey-dark;
    }
  }
}
