@import "../styles/mixins";
@import "../styles/variables";

.container {
  height: 50rem;
  width: 100vw;
  grid-area: who;
  padding: 5rem;
}
.heading {
  &_title {
    @include title;
    color: $white;
  }
  &_subtitle {
    @include subtext;
    color: $white;
  }
}
.content {
  &_title {
    @include subtitle;
    color: $white;
  }
  &_text {
    @include loud-text;
    color: $white;
  }
  &_btn {
    @include btn-light;
  }
  &_illustration {
    border-radius: 50px;
  }
}
