@import '../../styles/mixins';
@import '../../styles/variables';

.container {
  grid-area: shop;
  display: grid;
  flex-direction: column;
  padding-top: 5rem;
  height: 50rem;
  padding: 5rem;
}
.animal {
  &_container {
    margin-top: 2.5rem;
    display: grid;
    justify-content: center;
    grid-gap: 2.5rem;
    grid-template-columns: repeat(4, 1fr);
  }
  &_card {
    padding: 0.2rem;
    &:hover {
      background: rgba($grey-pale, 0.5);
      border-radius: $border-radius;
    }
    &_img {
      height: 32rem;
      width: 32rem;
      border-radius: $border-radius;
      background-color: $grey-pale;
    }
    &_title {
      @include subtext;
      font-weight: 500;
    }
  }
}
