@import '../../styles/mixins';

.container {
  display: grid;
  place-items: center center;
  min-height: 50rem;
}
.form {
  display: grid;
  grid-gap: 2.5rem;
  width: 50rem;
  padding: 5rem;
  border: 0.5px solid $grey-pale;
  border-radius: $border-radius;
}
