@import "../../styles/mixins";
@import "../../styles/variables";

.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  min-height: 80vh;
}
.sub_container {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-column: 2;
  background: $white;
}
.title {
  grid-column: 2 / -2;
  justify-self: start;
  margin: 5rem;
  &_heading {
    font-size: $lg2-font;
    color: $grey-dark;
  }
  &_subheading {
    font-size: $sm1-font;
    color: $grey-dark;
  }
}
