@import "../../styles/mixins";
@import "../../styles/variables";

.container {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: 25rem 1fr 25rem;
  min-height: 80vh;
}
.title {
  grid-column: 2;
  grid-row: 1;
  &_heading {
    @include title;
  }
  &_subheading {
    @include subtext;
  }
}
.card_container {
  margin-top: 2.5rem;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  &_subtitle {
    @include subtitle;
  }
}
