@import '../../styles/mixins';
@import '../../styles/variables';

.container {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: 25rem 1fr 25rem;
  min-height: 80vh;
}
.title {
  grid-column: 2;
  grid-row: 1;
  &_heading {
    @include title;
  }
  &_subheading {
    @include subtext;
  }
}
.card_container {
  margin-top: 2.5rem;
  grid-column: 2 / -2;
  display: grid;
  justify-content: center;
  grid-gap: 2.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: row;
  width: 100rem;
}
