@import '../../styles/mixins';
@import '../../styles/variables';

.grid {
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 50rem);
  grid-gap: 5rem;
}
.img {
  border-radius: $border-radius;
  max-height: 40rem;
  display: grid;
  justify-self: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  & > * {
    margin: 1rem 0;
  }

  &_top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &_title {
      @include title;
    }
    &_price {
      @include subtitle;
      padding-right: 4rem;
      color: $red-dark;
    }
  }
  &_size {
    @include loud-text;
    color: $grey-dark;
  }
  &_rating {
    font-size: $m2-font;
  }
  &_desc {
    @include base-text;
  }
  &_addtocart {
    margin-top: 4rem;
    display: flex;
    align-items: baseline;
    &_qty {
      @include btn-black;
      padding: 0.5rem 1.5rem;
      border: 1px solid $border-radius;
      background-color: transparent;
      color: black;
      border: 2px solid black;
      border-radius: $border-radius 0 0 $border-radius;
    }
    &_btn {
      @include btn-black;
      padding: 0.5rem 2rem;
      border-radius: 0 $border-radius $border-radius 0;
      border: 2px solid black;
    }
  }
}
