@import '../../styles/mixins';
@import '../../styles/variables';

.container {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  align-self: center;
  border: 0.5px solid $grey-pale;
  border-radius: $border-radius;
  & > * {
    @include loud-text;
    @include shadow-idle;
    padding: 1rem;
  }
}
.text {
  height: 100%;
  border-right: 0.5px solid $grey-pale;
}
.link {
  text-decoration: none;
  height: 100%;
  color: $black;
  &[aria-disabled='true'] {
    color: $grey-mid;
  }
  &:hover {
    background: $grey-pale;
  }
  &_prev {
    border-right: 0.5px solid $grey-pale;
  }
}
