@import '../../styles/mixins';
@import '../../styles/variables';

.container {
  @include shadow-idle;
  border: 0.5px solid $grey-pale;
  border-radius: $border-radius;
  background: white;
  margin: 5rem;
  padding: 5rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;

  width: 50rem;
}

.form {
  display: grid;
  grid-template-rows: 1fr;
  margin-top: 2.5rem;

  &_group {
    display: grid;
    grid-gap: 1rem;
  }
  &_input {
    @include base-input;
    width: 100%;
    grid-gap: 1rem;
  }
}
.submit {
  @include btn-black;
  margin-top: 2.5rem;
}
