@import "../styles/mixins";
@import "../styles/variables";

.container {
  padding: 10rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background: $white;
  grid-gap: 5rem;
}
.container_acc {
}
.heading {
  &_title {
    @include title;
  }
  &_subtitle {
    @include subtext;
  }
}
.container_nav {
  padding: 2.5rem 0;
}
.nav {
  display: grid;
  grid-gap: 1rem;
  &_btn {
    @include subtext;
    font-weight: 300;
    display: flex;
    &_click {
      &:hover {
        padding: 0 1rem;
        border-radius: $border-radius;
        background: $grey-pale;
      }
      &:active {
        background: $grey-mid;
      }
      &_active {
        padding: 0 1rem;
        border-radius: $border-radius;
        background: $grey-pale;
      }
    }
  }
}
.container_comp {
  grid-column: 2;
}
