@import "../styles/mixins";
@import "../styles/variables";

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background: $white;
}
.faq {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  grid-column: 2;
  &_heading {
    &_title {
      margin-bottom: 1rem;
      @include title;
    }
    &_subtitle {
      margin-bottom: 0.5rem;
      @include subtext;
    }
  }
  &_item {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    padding: 2.5rem 1rem;
    border-top: 1px solid $grey-pale;
    &_icon {
      margin-right: 2.5rem;
    }
    &_question {
      @include subtitle;
    }
    &_answer {
      @include loud-text;
      color: $grey-dark;
      padding: 0 5rem;
      margin-bottom: 2.5rem;
    }
  }
}
