@import "../styles/mixins";
@import "../styles/variables";

.container {
  position: relative;
  display: grid;
  // grid-template-rows: ;
  overflow-y: visible;
  overflow-x: hidden;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "cta cta cta"
    "shop shop shop"
    "how how how"
    "about about about";
}
