@import "../styles/mixins";
@import "../styles/variables";

.container {
  min-height: 50rem;
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 2rem;
  background: $grey-pale;
}
// LOGIN
.container_login {
  background: $white;
  width: 40rem;
  padding: 4rem 4rem 1rem 4rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  border-radius: $border-radius;
}
.text {
  padding: 2rem 0;
  &_title {
    @include title;
    margin-bottom: 1rem;
  }
  &_subtitle {
    @include subtext;
  }
}
.form {
  display: grid;
  margin-top: 2rem;
  grid-gap: 2rem;

  &_group {
    display: grid;
  }
  &_input {
    @include base-input;
  }
}
.forgot {
  margin-top: 1rem;
  &_text {
    @include basic-link;
    font-size: $sm2-font;
  }
}
.submit {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 3.5rem 0;
  &_btn {
    @include btn-black;
    width: 100%;
  }
}
.register {
  align-self: end;
  &_text {
    font-size: $sm2-font;
    color: grey;
  }
  &_link {
    @include basic-link;
    font-size: $sm2-font;
  }
}
