@import "../styles/mixins";
@import "../styles/variables";

.container {
  background: $grey-pale;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 80vh;
  align-content: center;
  justify-content: center;
  justify-items: center;
}
