@import '../styles/mixins';
@import '../styles/variables';

.container {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 80vh;
  align-content: center;
  justify-content: center;
  justify-items: center;
}
// REGISTER
.container_register {
  background: white;
  margin: 5rem;
  padding: 5rem;
  display: grid;
  border-radius: $border-radius;
  align-items: center;
  grid-template-columns: 1fr;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.04);
}

.form {
  display: grid;
  grid-gap: 2rem;
  margin-top: 3rem;

  &_group {
    display: grid;
    grid-gap: 2rem;
    &_top {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 2.5rem;
      & > * {
        width: 15rem;
      }
    }
  }
  &_input {
    @include base-input;
  }
  &_check {
    margin-top: -1rem;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    &_input {
      color: purple;
      &:checked {
        color: purple;
      }
    }
    &_label {
      @include base-text;
      font-size: $sm2-font;
      margin-left: 0.75rem;
    }
  }
}

.create {
  display: grid;
  align-items: center;
  justify-items: center;
  margin-top: 4rem;
  &_btn {
    @include btn-black;
    width: 100%;
  }
}
