@import '../../styles/mixins';
@import '../../styles/variables';

.btn {
  @include subtext;
  font-weight: 300;
  display: flex;
  border: none;
  background-color: white;
  &_click {
    &:hover {
      padding: 0 1rem;
      border-radius: $border-radius;
      background: $grey-pale;
    }
    &:active {
      background: $grey-mid;
    }
    &_active {
      padding: 0 1rem;
      border-radius: $border-radius;
      background: $grey-pale;
    }
  }
}
