@import '../../styles/mixins';
@import '../../styles/variables';

.addnew {
  @include shadow-idle;
  width: 100%;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-top: 1rem;
  border: 1px solid $grey-pale;
  padding: 1rem 2rem;
  border-radius: $border-radius;
  &:hover {
    @include shadow-active;
  }
  &_icon {
    margin-right: 1rem;
    stroke: $grey-mid;
  }
  &_text {
    @include loud-text;
    color: $grey-mid;
  }
}
