@import '../../styles/mixins';
@import '../../styles/variables';

.item {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr) repeat(2, 2fr) 1fr;
  &:hover {
    background: $grey-pale;
  }
  &:active {
    background: $white;
  }
  & > * {
    display: flex;
    align-items: baseline;
    justify-content: center;
    @include loud-text;
  }
  &_num {
  }
  &_date {
  }
  &_status {
    &_complete {
      color: $green-mid;
      @include bold;
    }
  }
  &_total {
  }
  &_arrow {
    fill: $grey-mid;
    align-self: center;
  }
}
