@import '../../styles/mixins';
@import '../../styles/variables';

.container {
  max-width: 75rem;
}
.title {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid $grey-pale;
  &_text {
    @include title;
  }
}

.address {
  margin-top: 1rem;
  border: 1px solid $grey-pale;
  padding: 1rem 2rem;
  border-radius: $border-radius;
  @include shadow-idle;
  &:hover {
    @include shadow-active;
  }
  &_top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    & > * {
      @include loud-text;
      color: $grey-dark;
    }
  }
  &_body {
    margin-top: 1rem;
    font-weight: 200;
    font-size: $sm2-font;
    color: $grey-mid;
  }
}
