@import '../../styles/mixins';
@import '../../styles/variables';

.payment {
  margin-top: 1rem;
  border: 1px solid $grey-pale;
  padding: 1rem 2rem;
  border-radius: $border-radius;
  @include shadow-idle;
  &:hover {
    @include shadow-active;
  }
  &_top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    &_edit {
      border: none;
      background-color: transparent;
      &:hover {
        font-weight: 500;
      }
      &:active {
        font-weight: 300;
      }
    }
    & > * {
      @include loud-text;
      color: $grey-dark;
    }
  }
  &_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &_info {
    margin-top: 1rem;
    font-weight: 200;
    font-size: $sm2-font;
    color: $grey-mid;
    &_label {
      font-weight: 400;
    }
  }

  &_body {
    margin-top: 1rem;
    font-weight: 200;
    font-size: $sm2-font;
    color: $grey-mid;
    text-align: right;
  }
}
