@import "variables";

// CONTAINERS
@mixin container {
  display: grid;
  align-items: center;
}
@mixin full-container {
  width: 100vw;
  display: grid;
}
@mixin logo-container {
  display: grid;
  height: 100%;
}
@mixin five-grid-equal {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

// LAYOUT HELPERS
@mixin border-red {
  border: 1px solid red;
}
@mixin border-blue {
  border: 1px solid blue;
}
@mixin border-purple {
  border: 1px solid purple;
}
@mixin border-green {
  border: 1px solid green;
}

// SPACING
@mixin center-items-container {
  align-items: center;
  justify-content: center;
}
@mixin center-content-container {
  justify-content: center;
  align-content: center;
}

// TEXT
@mixin logo-text {
  font-weight: 900;
  font-size: $lg2-font;
  letter-spacing: -1px;
  &:hover {
    color: $grey-pale;
  }
}
@mixin title {
  font-weight: $heavy-font;
  font-size: $lg2-font;
}
@mixin heavy-subtitle {
  font-weight: $heavy-font;
  font-size: $m1-font;
}
@mixin subtitle {
  font-weight: $mid-font;
  font-size: $m1-font;
}
@mixin subtext {
  color: $black;
  font-size: $m2-font;
  font-weight: $light-font;
}
@mixin loud-text {
  font-size: $sm1-font;
  font-weight: $light-font;
}
@mixin base-text {
  font-size: $sm1-font;
}
@mixin basic-link {
  display: grid;
  color: $black;
  text-decoration: none;
  font-size: $m2-font;
  &:hover {
    color: $grey-dark;
  }
}
@mixin sitemap-title {
  font-size: $sm1-font;
  font-weight: 700;
  color: $white;
}
@mixin sitemap-link {
  text-decoration: none;
  color: white;
  font-size: $sm2-font;
  &:hover {
    color: $grey-pale;
  }
}
// BUTTONS
@mixin btn {
  text-decoration: none;
  border: none;
  padding: 0.4rem 3rem;
  max-height: 5rem;
  font-size: $m2-font;
  border-radius: $border-radius;
}
@mixin btn-black {
  @include btn;
  background: $black;
  color: $white;
  &:hover {
    background: $grey-dark;
  }
}
@mixin btn-light {
  @include btn;
  background: $white;
  color: $grey-dark;
  &:hover {
    background: $grey-pale;
  }
}
@mixin user-btn {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-items: center;
  border-radius: 50px;
  background: $black;
  grid-gap: 1rem;
  padding: 0.4rem;
  &:hover {
    background: $grey-dark;
  }
}
@mixin user-avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50px;
  background-image: url(../public/roger-berry-avatar-placeholder-11562991561rbrfzlng6h.png);
  background-size: cover;
}
