html {
  box-sizing: border-box;
  font-size: 62.5%; //16px
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: $font-avenir;
  color: $color-black;
  font-weight: 300;
  line-height: 1.6;
}
