@import url("https://fonts.googleapis.com/css2?family=Nunito+Pro&family=Lora");
// COLOR VARIABLES
$color-red-dark: #904d50;
$color-red-mid: #b06d71;
$color-red-light: #cda2a4;
$color-red-pale: #dbbdbe;

$color-green-dark: #798465;
$color-green-mid: #9da68c;
$color-green-light: #bac1ae;
$color-green-pale: #ced3c5;

$color-blue-dark: #587090;
$color-blue-mid: #8196b1;
$color-blue-light: #a6b5c9;
$color-blue-pale: #c0cbd8;

$color-brown-dark: #886e5f;
$color-brown-mid: #ab9487;
$color-brown-light: #c4b4ab;
$color-brown-pale: #d5cac3;

$color-grey-dark: #8f8f8f;
$color-grey-mid: #adadad;
$color-grey-light: #cccccc;
$color-grey-pale: #e0e0e0;

$color-black: #000;
$color-white: #fff;

// TRANSPARENT COLOR

// FONT VARIABLES
$font-lora: "Lora", sans-serif;
$font-avenir: "Nunito", serif;

// FONT SIZES
$largest-font-size: 7.451rem;
$large-font-size: 5.96rem;
$midlarge-font-size: 4.768rem;
$mid-font-size: 3.815rem;
$midsmall-font-size: 3.052rem;
$small-font-size: 2.441rem;
$plus-font-size: 1.953rem;
$base-font-size: 1.563rem;
$tiny-font-size: 1.25rem;

// BORDER RADIUS
$border-radius: 5px;

// GRID VARIABLES
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 3rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
