@import url("https://fonts.googleapis.com/css2?family=Nunito+Pro&family=Lora");

// COLOR VARIABLES
$red-dark: #904d50;
$red-mid: #b06d71;
$red-light: #cda2a4;
$red-pale: #dbbdbe;

$green-dark: #798465;
$green-mid: #9da68c;
$green-light: #bac1ae;
$green-pale: #ced3c5;

$blue-dark: #587090;
$blue-mid: #8196b1;
$blue-light: #a6b5c9;
$blue-pale: #c0cbd8;

$brown-dark: #886e5f;
$brown-mid: #ab9487;
$brown-light: #c4b4ab;
$brown-pale: #d5cac3;

$grey-dark: #8f8f8f;
$grey-mid: #adadad;
$grey-light: #cccccc;
$grey-pale: #e0e0e0;

$black: #000;
$white: #fff;

// TRANSPARENT COLORS

// FONT VARIABLES
$lora: "Lora", sans-serif;
$nunito: "Nunito", serif;
// $avenir: "Avenir", serif;

// FONT SIZES
$largest-font: 7.451rem;
$large-font: 5.96rem;
$midlarge-font: 4.768rem;
$mid-font: 3.815rem;
$midsmall-font: 3.052rem;
$small-font: 2.441rem;
$plus-font: 1.953rem;
$base-font: 1.563rem;
$tiny-font: 1.25rem;

// BORDER RADIUS
$border-radius: 5px;

// GRID VARIABLES
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 3rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
