@import "mixins";
@import "variables";

.container {
  width: 100vw;
  max-height: 5rem;
  background: $color-grey-pale;
  display: grid;
  align-content: center;
  justify-content: center;
  display: none;
}
.text {
  font-size: $base-font-size;

  &_link {
    text-decoration: none;
    color: $color-grey-dark;
    &:hover {
      color: purple;
    }
  }
}
