@import "variables";

.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 5rem;
  background: darkgrey;
  justify-content: center;
  align-content: center;
  min-height: 15rem;
}
.logo {
  color: $color-white;
  &__text {
    font-size: $midlarge-font-size;
  }
  &__tagline {
    font-size: $base-font-size;
    justify-self: center;
    align-self: center;
    color: $color-grey-pale;
    font-weight: 200;
  }
}

.left {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-content: stretch;
}
.social {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  align-items: center;
  justify-items: center;
  align-self: center;
  grid-auto-flow: column;
  grid-gap: 1rem;
  &_icon {
    fill: $color-white;
    &:hover {
      fill: $color-grey-dark;
    }
  }
}
.copyright {
  &__text {
    color: $color-grey-pale;
    font-size: $base-font-size;
  }
  &__link {
    text-decoration: none;
    color: $color-grey-pale;
    font-weight: 500;
    &:hover {
      color: $color-grey-dark;
    }
  }
}

.center {
  display: grid;
  align-items: start;
  margin-top: -2rem;
}

.right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
}
.help {
  display: grid;
  grid-template-rows: 3rem repeat(3, 2rem);
  &__title {
    font-size: $small-font-size;
    font-weight: 300;
    color: $color-white;
  }
}

.company {
  display: grid;
  grid-template-rows: 3rem repeat(3, 2rem);
  &__title {
    font-size: $small-font-size;
    font-weight: 300;
    color: $color-white;
  }
}
.legal {
  display: grid;
  grid-template-rows: 3rem repeat(3, 2rem);
  &__title {
    font-size: $small-font-size;
    font-weight: 300;
    color: $color-white;
  }
}
.link {
  text-decoration: none;
  color: white;
  font-size: $base-font-size;
  &:hover {
    color: $color-grey-dark;
  }
}
