@import "variables";
@import "mixins";

.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: center;
  align-items: center;
  background-color: $color-grey-dark;
}

.logo {
  color: white;
}
.title {
  margin: 0.5rem 4rem;
  font-size: 4.5rem;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr;
  justify-items: center;
  align-content: end;
  &__link {
    color: white;
    text-decoration: none;
    margin: auto 45px;
    font-size: 2rem;
    &:hover {
      color: blue;
      border-bottom: 2px solid blue;
    }
  }
}

.account {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  &__login {
    @include btn-light;
    width: 10rem;
    text-align: center;
    justify-content: center;
  }
  &__user {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    grid-gap: 1rem;
    border: 1.5px solid $color-grey-dark;
    border-radius: 50px;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    background: $color-grey-pale;
    display: none;
    &:hover {
      background: #fff;
    }

    &_photo {
      color: blue;
      background: $color-grey-dark;
      width: 4rem;
      height: 4rem;
      border-radius: 50px;
    }

    &_name {
      font-size: $small-font-size;
      color: $color-grey-dark;
    }
  }
}
.cart {
  margin: auto 30px;
  fill: $color-grey-pale;
  &:hover {
    fill: #fff;
  }
}
