@import "variables";

.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: center;
  align-items: center;
  background-color: $color-grey-dark;
}

.logo {
  color: white;
}
.title {
  margin: 0.5rem 4rem;
  font-size: 4.5rem;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr;
  justify-items: center;
  align-content: end;
  &__link {
    color: white;
    text-decoration: none;
    margin: auto 45px;
    font-size: 2rem;
    &:hover {
      color: blue;
      border-bottom: 2px solid blue;
    }
  }
}

.account {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  &__login {
    display: grid;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    font-size: $plus-font-size;
    color: white;
    border: 2px solid $color-grey-pale;
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
  }
  &__user {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    margin-left: 20px;

    &_photo {
      color: blue;
      border-radius: 50px;
    }

    &_name {
      margin-left: 10px;
      font-size: 20px;
      font-weight: 300;
      color: white;
    }
  }
}
.cart {
  margin: auto 30px;
  fill: $color-white;
}
