@import "mixins";
@import "variables";
.container {
  background: $color-grey-pale;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 80vh;
  align-content: center;
  justify-content: center;
  justify-items: center;
}
